/* Golbal Variables */
:root {
    --main-color:#1fabd2;
    --tarnsparent-color:rgb(15 116 143/70%);
}
/* Globel Rules */
* {
    box-sizing: border-box;
    --webkit-box-sizig: border-box;
    --moz-box-sizig: border-box;
    padding: 0;
    margin: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: black;
}
html {
    scroll-behavior: smooth;
}
/* Media Queries */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 }
 /* End Globel Rules */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 97px;
}
header .container a img {
    height: 80px;
}

header .container nav {
    flex: 1;
    
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 3px;
    background-color: #2a2a2a;
    bottom: 0;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav .toggle-menu{
    color: white;
    font-size: 25px;
}
@media (min-width:767px){
    header .container nav .toggle-menu {
       display: none;
    }
}
header .container nav ul {
    display: flex;
}
header .container nav ul a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 40px 10px;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}
@media (max-width:767px){
    header .container nav ul {
        display: none;
    }
    header .container nav .toggle-menu:hover + ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 15px;
        background-color: #2a2a2a61;
     }
     header .container nav .toggle-menu:hover + ul a {
        padding: 15px;
     }
}
header .container nav ul a.Active,
header .container nav ul a:hover {
    color: var(--main-color);
    font-weight: bold;
    border-bottom: 1px solid var(--main-color);
}
header .container nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header .container nav .form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
}
/* start landing */
.landing {
    min-height: 100vh;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-color: var(--main-color);
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.488);
}
.landing .text {
    position: absolute;
    background-color: var(--tarnsparent-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 1.4;
}
.landing .text .content p {
    font-size: 15px;
    line-height: 1.7;
}
@media (max-width:767px) {
    .landing .text .content h2 {
        font-size: 20px;
    }
    .landing .text .content p {
        font-size: 12px;
    }
}
.landing i {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
}
@media (max-width:1220px) {
    .landing i {
        margin-left: -20px;
        margin-right: -20px;
    }
}
.landing .fa-angles-right {
    right: 30px;
}
.landing .fa-angles-left {
    left: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 10px;  
}
.landing .bullets li.active {
    border-color: var(--main-color);
    background-color: var(--main-color);  
}
/* end landing */