/* Golbal Variables */
:root {
    --main-color:#1fabd2;
    --tarnsparent-color:rgb(15 116 143/70%);
    --padding-section: 100px;
}
/* Globel Rules */
* {
    box-sizing: border-box;
    --webkit-box-sizig: border-box;
    --moz-box-sizig: border-box;
    padding: 0;
    margin: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* Media Queries */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
 }
 /* End Globel Rules */
 /* Strat Component */
 .main-heading {
    text-align: center;
 }
 .main-heading h2 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 40px;
    position: relative;  
    text-transform: uppercase;
 }
 .main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #333;
    transform: translateX(-50%);
    left: 50%;
    bottom: -20px;
 }
 .main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: white;
 }
 .main-heading p {
    width: 500px;
    margin: 0px auto 100px auto;
    color: #777;
    line-height: 1.7;
    max-width: 100%;
 }
  /* End Component */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-height: 97px;
}
header .container a img {
    height: 80px;
}

header .container nav {
    flex: 1;
    
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 3px;
    background-color: #2a2a2a;
    bottom: 0;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav .toggle-menu{
    color: white;
    font-size: 25px;
}
@media (min-width:767px){
    header .container nav .toggle-menu {
       display: none;
    }
}
header .container nav ul {
    display: flex;
}
header .container nav ul a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 40px 10px;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}
@media (max-width:767px){
    header .container nav ul {
        display: none;
    }
    header .container nav .toggle-menu:hover + ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 15px;
        background-color: #2a2a2a61;
     }
     header .container nav .toggle-menu:hover + ul a {
        padding: 15px;
     }
}
header .container nav ul a.Active,
header .container nav ul a:hover {
    color: var(--main-color);
    font-weight: bold;
    border-bottom: 1px solid var(--main-color);
}
header .container nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header .container nav .form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
}
/* start landing */
.landing {
    min-height: 100vh;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-color: var(--main-color);
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.488);
}
.landing .text {
    position: absolute;
    background-color: var(--tarnsparent-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 1.4;
}
.landing .text .content p {
    font-size: 15px;
    line-height: 1.7;
}
@media (max-width:767px) {
    .landing .text .content h2 {
        font-size: 20px;
    }
    .landing .text .content p {
        font-size: 12px;
    }
}
.landing i {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
}
@media (max-width:1220px) {
    .landing i {
        margin-left: -20px;
        margin-right: -20px;
    }
}
.landing .fa-angles-right {
    right: 30px;
}
.landing .fa-angles-left {
    left: 30px;
}
.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 10px;  
}
.landing .bullets li.active {
    border-color: var(--main-color);
    background-color: var(--main-color);  
}
/* end landing */
/* start services */
.services {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
@media (min-width:768px) {
    .services .services-container {
        display:grid ;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
    .services .services-container .serv-box i {
        margin-right: 50px;
    }
}
@media (max-width:767px) {
    .services .services-container .serv-box {
        flex-direction: column;
        text-align: center;
    }
    .services .services-container .serv-box i {
        margin-bottom: 30px;
    }
}

.services .services-container .serv-box {
   display: flex;
}
.services .services-container .serv-box i {
    font-size: 40px;
}

.services .services-container .serv-box h3 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;

}
.services .services-container .serv-box p {
    color: #777;
    line-height: 1.7;
    margin-bottom: 40px;
}

/* end services */
/* start Desgin */
.desgin-container {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url("..\\images\\design.png");
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.desgin-container::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.698);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.desgin-container .image ,
.desgin-container .text{
    z-index: 2;
    position: relative;
    flex: 1;

}
.desgin-container .image {
    text-align: center;
}
.desgin-container .image img {
    position: relative;
    top: 230px;
    transform: rotate(180deg);
    filter: grayscale(3)
}


@media (max-width:1020px){
    .desgin-container .image {
        display: none;
    }
    .desgin-container .text {
        width: 100%;
    }
}
.desgin-container .text {
    background-color: var(--tarnsparent-color);
    color: white;
    padding: 30px;
}
.desgin-container .text h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}
.desgin-container .text ul {
    font-size: 20px;
    font-weight: 300;
    padding-left: 50px;
}
.desgin-container .text ul li {
    padding-bottom: 15px;
}
.desgin-container .text ul li::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\e163";
    font-weight: 800;
    font-size: 20px;
    padding-right: 10px;
    position: absolute;
    left: 50px;
    transform: translateY(8%);
}
/* End Desgin */
/* start portfolio */
.portfolio {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li{
    padding: 20px;
    text-transform: uppercase;
}
.portfolio .shuffle .active{
    background-color: var(--main-color);
    color: white;
}
.portfolio .images-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;

}
.portfolio .images-container .box{
    position: relative;
    overflow: hidden;
}
@media (min-width:992px) {
    .portfolio .images-container .box {
        flex-basis: 50%;
    }
    
}
@media (min-width:1200px) {
    .portfolio .images-container .box {
        flex-basis: 25%;
    } 
}
.portfolio .images-container .box img{
    width: 100%;
    transition: 0.3s;
}
.portfolio .images-container .box .caption{
    position: absolute;
    bottom: -100%;
    transition: 0.3s;
    background-color: white;
    width: 100%;
    padding: 10px;
}
.portfolio .images-container .box:hover .caption{
    bottom: 0;
}
.portfolio .images-container .box:hover img{
   transform: rotate(3deg) scale(1.1);
}
.portfolio .images-container .box .caption h3{
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .images-container .box .caption p{
    color: var(--main-color);
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    display: block;
    width: fit-content;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px auto;
}
/* end portfolio */
/* start video */
.video-section {
    position: relative;
}
.video-section::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.721);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.video-section video {
    width: 100%;
}
.video-section .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--tarnsparent-color);
    color: white;
    width: 100%;
    text-align: center;
}
@media (max-width:767px){
    .video-section .text {
        background-color: transparent;
    }
}
.video-section .text h2 {
    font-weight: normal;
    margin: 30px 10px;
    text-transform: uppercase;
    font-size: 40px;
}
.video-section .text p {
    margin-bottom: 20px;
    font-size: 20px;
}
.video-section .text button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #000000ab;
    color: white;
    border: none;
    text-transform: uppercase;
}
/* end video */
/* start about */
.about  {
    padding-top: var(--padding-section);
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    bottom: -250px;
    margin-top: -250px;
}
/* end about */
/* start statistics */
.statistics {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    position: relative;
    background-image: url("..\\images\\statistics.jpg");
    background-size: cover;
    width: 100%;
    text-align: center;
}
.statistics::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.389);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.statistics .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .statistics .container .box {
        flex-basis: 100%;
    }
}
@media (min-width:768px) {
    .statistics .container .box {
        flex-basis: 50%;
    }
}
@media (min-width:992px) {
    .statistics .container .box {
        flex-basis: 25%;
    }
}
.statistics .container .box {
    color: white;
    z-index: 2;
    background-color: var(--tarnsparent-color);
}
.statistics .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 30px;
    border-radius: 50%;
    padding: 30px;
}
.statistics .container .box .number {
    font-size: 50px;
    font-weight: 800;
    margin: 0 10px 20px;
}
.statistics .container .box p {
    margin-bottom: 10px;
    font-size: 14px;
}
/* end statistics */
/* start skills */
.our-skills {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.our-skills .testimonials {
    position: relative;
}
.our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width:992px) {
  .our-skills .container > div {
   flex-basis: 45%;
} 
    .our-skills .container {
    align-items: center;
    }
}
.our-skills .container > div > h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center
}
.our-skills .container > div > p{
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;
    color: #777;   
}
.our-skills .container .box{
    display: flex;
    align-items: flex-start;
}
.our-skills .container .box img{
    width: 80px;
    margin-right: 20px;
}
.our-skills .container .box .text{
     line-height: 2;
}
.our-skills .container .box .text p{
    text-align: right;
    color: #7777;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
@media (max-width:767px) {
.our-skills .container .box {
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.our-skills .container .box img{
    margin-bottom: 20px;
}
}
.our-skills .container .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.our-skills .container .testimonials .bullets li {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 10px;  
}
.our-skills .container .testimonials li.active {
    border-color: var(--main-color);
    background-color: var(--main-color);  
}
.skills .prog-holder {
    margin-bottom: 40px;
}
.skills .prog-holder h4 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
.skills .prog-holder .prog {
    width: 100%;
    height: 25px;
    background-color: #ccc;
}
.skills .prog-holder .prog span {
    background-color: var(--main-color);
    height: 25px;
    display: block;
    position: relative;
}
.skills .prog-holder .prog span::before {
    content: attr(data-progress);
    background: black;
    color: white;
    padding: 3px;
    right: -20px;
    top: -32px;
    position: absolute;
    border-radius: 4px;
}
.skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-width: 10px;
    border-color: black transparent transparent transparent;
    right: -9px;
    top: -10px;
    border-style: solid;
}
/* end skills */
/* start quote */
.quote {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);  
    background-image: url("..\\images\\quote.jpg");
    background-size: cover;
    color: white;
    position: relative;
    width: 100%;
}
.quote::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.661);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.quote q::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f10d";
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    position: absolute;
    top: 65px;
    left: -43px;
}
.quote q::after {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f10e";
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    position: absolute;
    right: 75px;
    bottom: 55px;
}
@media (max-width:767px) {
    .quote q::before {
        display: none;
    }
    .quote q::after {
        display: none;
    }
}

.quote q {
    font-size: 29px;
    display: block;
    position: relative;
}
.quote q {
    font-size: 29px;
}
.quote span {
    display: block;
    position: relative;
    align-items: center;
    margin-top: 20px;
    right: -42%;
    border-top: 1px solid;
    width: 50%;
    padding-top: 9px;
}

/* end quote */
/* start pricing */
.pricing {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);  
}
.pricing .container {
 
}
.pricing .container .plans{
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}

.pricing .container .plans .plan{
    margin-left: 30px;
    margin-right: 30px;
}
.pricing .container .plans .plan .head{
    text-align: center;
}
.pricing .container .plans .plan .head h3{
    border-top: 1px solid var(--main-color);
    padding-top: 30px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.pricing .container .plans .plan .head span{
    position: relative;
    font-size: 50px;
}
.pricing .container .plans .plan .head span::before{
    content: "$";
    font-size: 20px;
    position: absolute;
    left: -12px;
}
.pricing .container .plans .plan .head span::after{
    content: "/MO";
    position: absolute;
    bottom: 0;
    font-size: 17px;
}
.pricing .container .plans .plan  ul{
    margin-top: 23px;
    text-align: center;
    padding: 24px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .plans .plan ul li:not(:nth-of-type(4)){
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.pricing .plans .plan .foot {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 40px;
}
.pricing .plans .plan .foot a {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 12px;
    text-transform: uppercase;
}
.pricing  .contact-text {
    display: block;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
.pricing  .contact-link {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 12px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
/* end pricing */
